@import url("https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("./img/bg-cats-mosaic.jpg");
  padding: 1rem;

  font-family: "Glory", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

header,
main,
footer {
  width: 100%;

  background-color: #ffffffc7;
  border-radius: 15px;
  padding: 0.5rem;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

header{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: .5rem;
}
.logo-box{
  display: flex;
  justify-content: center;
}
.logo-box>img{
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 0 10px;
}
.filter{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

input[type='text']{
  padding: 5px;
  border-radius: 10px;

}
main{
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 5;
  gap: .5rem;
}
form, .note{
  width: 100%;
  height: fit-content;

  background-color: #cecece;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0.5rem;
  border-radius: 15px;
  
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.btn-box{
  display: flex;
  justify-content: space-around;
}
.btn{
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.notes-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btns{
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.btn-x{
  border: none;
  background-color: #cecece;
  cursor: pointer;
}




footer{
  text-align: center;
}


@media (min-width:350px) {
  form, .note{
    width: 250px;
  }
}
@media (min-width:550px) {
  .notes-box{
    flex-direction: row;
    flex-wrap: wrap;
  }
}